.t454__maincontainer {
}
.t454__c12collumns {
}

.main-container {
}

.main-content {
  padding: 10px 20px;
  padding-bottom: 70px;
}

.main-user-block {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  padding-top: 60px;
  border-bottom: 1.5px solid rgb(148, 148, 148);
}

.user-image {
  margin: 0px 20px;
  border-radius: 90px;
  flex: 0 0 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.user-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-poems {
  position: absolute;
  font-size: 17px;
  font-weight: 700;
  color: white;
  text-decoration: underline;
  display: none;
  z-index: 1;
}

.user-content {
  display: flex;
  flex-direction: column;
}
.user-image:hover::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.user-poems {
  cursor: pointer;
}

.user-title {
  padding-bottom: 20px;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 3px;
  cursor: pointer;
}

.user-title a {
  color: black;
}

.user-description {
  letter-spacing: 0.7px;
  line-height: 1.6;
  font-size: 16px;
}

.user-details {
  display: flex;
  align-items: center;
}

.user-subscribers img {
  display: flex;
  align-items: center;
  height: 24px;
  width: 24px;
}

.user-likes,
.user-subscribers {
  padding: 20px 0px;
  display: flex;
  align-items: center;
}

.user-subscribers {
  padding: 20px 20px;
}

.subscribe input {
  width: 100px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border: none;
  color: white;
  border-radius: 10px;
}

.user-likes p,
.user-subscribers p {
  font-size: 16px;
  padding-left: 5px;
  font-weight: 400;
}

@media (max-width: 1000px) {
  .main-user-block {
    padding-top: 45px;
  }

  .user-title {
    padding-bottom: 17px;
    font-size: 26px;
    font-weight: 500;
  }
  .user-description {
    letter-spacing: 0.7px;
    font-size: 16px;
  }
  .user-likes {
    padding: 17px 0px;
  }
}

@media (max-width: 850px) {
  .main-user-block {
    padding-top: 40px;
  }

  .user-title {
    padding-bottom: 15px;
    font-size: 23px;
    font-weight: 450;
  }
  .user-description {
    letter-spacing: 0.7px;
    font-size: 15px;
  }
  .user-likes {
    padding: 14px 0px;
  }
}

@media (max-width: 690px) {
  .user-image {
    margin: 0px 15px;
    flex: 0 0 140px;
    height: 140px;
  }

  .main-user-block {
    justify-content: center;
    padding-top: 40px;
  }
  .user-title {
    padding-bottom: 15px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 450;
  }
  .user-description {
    letter-spacing: 0.7px;
    font-size: 14px;
  }
  .user-likes p {
    font-size: 15px;
    padding: 14px 0px;
  }
}

@media (max-width: 550px) {
  .user-image {
    margin: 0px 20px;
    flex: 0 0 210px;
    width: 210px;
  }

  .main-user-block {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
  }
  .user-title {
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 23px;
    letter-spacing: 1px;
    font-weight: 450;
  }
  .user-description {
    letter-spacing: 0.7px;
    font-size: 15px;
  }
  .user-likes p {
    font-size: 16px;
    padding: 14px 0px;
  }
}

.user-image:hover .user-poems {
  display: block;
}
